.list{
width:80%;
position: relative;
display: inline-block;
top: 10rem;
margin: 0;
padding: 0;
text-align: center;

}
.list-{
position: relative;
display: inline-block;
width:40%;
padding: 0;
margin: 1rem; 
vertical-align: top;
text-align: justify;}

.list- h1{
  font-size: 1rem;
  text-align: justify;
  padding-bottom: 1rem;
  color: #FC5656;
   border-bottom: 1px solid #FC5656;

}
.font{
  font-family: sans-serif;
  font-size: .9rem;
  font-weight: 400;
}
.story {
  width: 80%;
  position: absolute;
  display: inline-block;
  top: 2rem;
  left: 18%;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  text-align: center;
  font-family: 'Sedgwick Ave', cursive; }

.image_item{
  display: inline-block;
  width:80%;
  height: auto;} 

.img-con{
  width:240px;
  height: 160px; 
  margin: .2rem .1rem;
  display: inline-block;
  background-color: black;
  cursor: zoom-in; }
.img-pro{
  width: 100%;
  height: 100%;
  opacity: .7; }
.img-pro:hover{
  opacity: 1;
  -webkit-filter: grayscale(0%);
  -webkit-transition: .3s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .3s ease-in-out;
  filter: grayscale(0%);}

@media screen and (max-width: 768px) {
  .img-con{
    position: relative;
    width: 90%;
    height: auto;s
    /*margin: 1rem auto;*/
    
    left: 5%;text-align: center;

    display: inline-block;
  background-color: white;
  cursor: zoom-in; }
.img-pro{
  width: 80%;
  height: auto;

  margin: 1rem auto;
  opacity: 1; }}



@media screen and (max-width: 768px) {
.image_item{
  display: inline-block;
  width:100%;
  height: auto;}
iframe{
  width: 100%;
  height : auto;
  }



}

.cm_list{
  width: 100%;}
  .img-list img{
    width: 30%;
    display: inline-block;
  }


@media screen and (max-width: 768px) {


  .story{
    top: 250px;
    font-size: 1.5rem;
    width: 80%;
    left: 10%;}
.list{
width:100%;
position: relative;
display: inline-block;
top: 8rem;
margin: 0;
padding: 0;
text-align: center;}

.list- p{
position: relative;
display: inline-block;
width:100%;
padding: 0;
margin: 1rem auto; 
font-size: .8rem;
text-align: justify;}

.list- h1{
  font-size: .8rem;
  text-align: justify;
  padding-bottom: 1rem;
  color: #FC5656;
   border-bottom: 1px solid #FC5656;}}
.in{
  border:0;
  width:100%;
  height: 70px;
  margin: 0;
}
.hello {font-size:2rem;}
@media screen and (max-width: 375px) {
.in{
  width:100%;
   height: 70px;
  margin: 0 auto;
}
.hello {font-size: 1.4rem;
}}
@media screen and (max-width: 768px) {
.in{
  width:100%; height: 70px;

}}
@media screen and (max-width: 1024px) {
.in{
  width:100%; height: 70px;
}}

@media screen and (max-width: 2400px) {
.in{
  width:130%;
   height: 70px;
}}



@media screen and (max-width: 480px) {

.list- {
  width: 80%;
  top: -50px;
 margin: 0 auto;}

 .story{
  width: 100%;
    top: 190px;
    font-size: 1.2rem;
  left: 0;
  padding: 0;
  margin: 0 auto;}
  .list- img{
width: 20%;
margin: 0;
padding: 0;

}

}

.list- img{
width: 30%;
margin: 0;
padding: 0;

}




.about__image-container {
  width: 40%;
  margin: 0 1rem 0 0; }

.about__image {
  width: 100%;
  padding: 0; }

.about__content {
  width: 60%; 
  margin: 0;text-align: justify;
  padding-right: 2rem; }

.about__link {
  text-decoration: none;
  color: #ff706c; }

@media screen and (max-width: 480px) {
  .about__image-container {
    width: 80%;
    left: 10%; 
    position: relative;
    margin-bottom: 2rem; }

  .about__content {
    width: 80%;
    padding: 0 2rem; 
    margin: 0 auto;
    text-align: justify;} }
.portfolio {
  margin: 0;

  padding: 0;
  display: flex;
  flex-direction: row;}

.nav {
  height: 90%;
  display: flex;
  flex-direction: column; }

.nav-footer-container {

  background-color: red;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 18%; }

.footer {
  height: 10%;
  display: flex;

  flex-direction: row; }

.projects, .pieces {
  width: 82%;
  position: fixed;
  margin-left: 18%;
  top: 8rem;
  left: 0;
  bottom: 0;
  overflow-y: scroll; }

.disc{
    width: 82%;
    margin:2rem;
     font-family: "Josefin Slab", serif;
     line-height: 1.2;
     font-size: 1.2rem;
       font-weight: 600;
    color: #262626;
    text-align: justify;}




.project {
  width: 82%;
  position: fixed;
  margin-left: 18%;
  top: 1rem;
  bottom: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column; }

.about {
  width: 82%;
  position: fixed;
  margin-left: 18%;
  top: 1rem;
  bottom: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: row; }

@media screen and (max-width: 768px) {
  .portfolio {
    flex-direction: column; }

  .nav-footer-container {
    width: 100%; }

  .projects, .project, .pieces, .about {
    width: 100%;
    margin: 0;
    position: relative; }

  .nav, .footer {
    height: inherit; } 




  }
@media screen and (max-width: 480px) {
  .about {
    flex-direction: column; } }

.footer__list {
  display: flex;
  flex-direction: row;

  padding-left: 1.8rem;}

.footer__item {
  width: 22px;
  height: 10px;
  list-style: none;
  display: inline-flex;
  margin: 0;


  padding-right: 1.2rem; 
}

.footer__image {
  width: 100%;
  opacity: 0.8;   
padding-bottom: 0;}

.hand{

position: absolute;
top: 735px;
left: 1.8rem;
font-family: "Josefin Slab", serif;
font-size: .8rem;
color: #262626;

}


@media screen and (max-width: 768px) {
  .footer__list {
    padding: 0;
    justify-content: center;
    width: 100%; }

  .footer__item {
    width: 7%; }

  .footer__image {
    width: 90%;
    opacity: 0.8; } 

  
.hand{

position: absolute;
top: 0px;
left: 20px;
font-family: "Josefin Slab", serif;
font-size: .8rem;
color: #262626;

}
}

.nav__link, .nav__item, .nav__category {
  text-decoration: none;
  color: #aaaaaa;
  font-size: 1.2rem;
  margin-right: 1.5%;
  cursor: pointer;
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  margin: 0.3rem 0; }

.nav__first-name {
  color: #ff706c;
  text-align: left;
  text-decoration: none; }

.nav__sur-name {
  font-family: "Josefin Slab", serif;
  color: black;
  text-decoration: none; }

.nav__name {
  float: left;
  font-size: 2rem;
  line-height: 2rem;
  padding: 1rem 2rem; }

.nav__logo {
  width: 130px; }

.nav__items-pages, .nav__items-category {
  padding: 2rem;
  list-style: none;
  display: flex;
  flex-direction: column; }

.nav__link:hover, .nav__link--selected {
  color: #ff706c;
  text-decoration: none; }

.nav__item:hover, .nav__item--selected {
  color: #ff706c;
  text-decoration: none; }

.nav__category:hover, .nav__category--selected {
  color: #ff706c; }

@media screen and (max-width: 768px) {
  .nav__items-category {
    display: none; }

  .nav__items-pages {
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0; }

  .nav__name {
    width: 30%;
    display: block;
    margin: 0 auto;
    float: inherit; } }
.pieces__item {
  width: 49.6%;
  display: inline-flex;
  flex-direction: column;
  text-decoration: none; }
  .pieces__item + .pieces__item {
    margin-bottom: 2rem; }

.pieces__list {
  flex-direction: column;
  margin-right: 2rem; }

.pieces__title {
  width: 85%;
  font-family: "Josefin Slab", serif;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  color: black;
  font-size: 1.2rem; }
  .pieces__title:hover {
    color: #ff706c; }

.pieces__image {
  width: 100%; }

.pieces__tags {
  width: 85%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  color: #aaaaaa;
  font-size: 0.8rem; }

@media screen and (max-width: 768px) {
  .pieces__item {
    width: 99%; } }
.project-container {
  padding: 0 2rem;
  margin-right: 20%; }

.project__heading {
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  color: #ff706c; }

.project__sub-heading {
  font-family: "Open Sans", sans-serif;
  color: #aaaaaa;
  font-weight: 400; }

.project__content-heading {
  font-family: "Open Sans", sans-serif;
  color: #aaaaaa;
  padding: 0.5rem 0;
  font-weight: 400; }

.project__blurb {
  font-style: italic; 
  color: #262626;}
  .project__blurb2 {
  color: #262626;}
 .project__blurb3 {
  font-size: .8rem;
  color: #262626;}

.project__video-container {
  padding-right: 2rem;
  width: 100%;
  margin: 1rem 0; }

.project__video {
  width: 100%;
  height: 56%; }

.project__image {
  width: 100%;
  margin: 1rem 0; }

.project__image-thesis {
  width: 80%; }

.project__image-small {
  width: 33%;
   }

.project__image-small-outline {
  width: 33%;
  display: inline-block;
  outline: 1px solid black; }

.project__image-medium {
  width: 49%;
  display: inline-block; }

.project__image-small-container {
  width: 100%;
  display: block; }

.project__link {
  text-decoration: none;
  color: #ff706c; }

.project__back-link {
  font-family: "Josefin Slab", serif;
  font-size: 1.5rem;
  text-decoration: none;
  color: #aaaaaa;
  font-weight: 400;
  /*margin-left: 10%;*/ }
  .project__back-link:hover {
    color: #ff706c; }

@media screen and (max-width: 768px) {
  .project-container {
    margin: 0; }

  .project__image-small {
    width: 49%;
    display: inline-block; }

  .project__image-small-outline {
    width: 49%;
    display: inline-block;
    outline: 1px solid black; }

  .project__image-medium {
    width: 100%;
    display: inline-block; } }

.projects__list {

  flex-direction: column;
  margin-right: 2rem; }

.projects__blurb {
  display: none; 
  color: #262626;
}
 .project__blurb2 {
   
  color: #262626;}

.projects__item {
  width: 24%;
  display: inline-flex;
  vertical-align: top;
  flex-direction: row;
  text-decoration: none;
  position: relative; 

}
  .projects__item + .projects__item {
    margin-bottom: 1rem; }
  .projects__item:hover {
    cursor: pointer;
    cursor: hand; }
    .projects__item:hover .projects__title {
      color: #ff706c; }
    .projects__item:hover .projects__image {
      opacity: 1; }

.projects__title {
  width: 85%;
  margin-top: 0.4rem;
  font-family: "Josefin Slab", serif;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  color: black;
  font-size: 1.2rem; }
  .projects__title:hover {
    color: #ff706c; }

.projects__tags {
  width: 85%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  color: #aaaaaa;
  font-size: 0.8rem; }

.projects__image {
  width: 85%;
  opacity: 0.9; }

.projects__link {
  text-decoration: none;
  display: flex;
  flex-direction: column; }
  .projects__link:hover {
    color: #ff706c; }

@media screen and (max-width: 768px) {
  .projects__item {
    width: 49%; }

  .projects__list {
    margin-right: 0; 
    margin-top: -8rem;}


     }
@media screen and (max-width: 480px) {
  .projects__item {
    width: 100%; }

  .projects__list {
    margin-right: 0; }


.hand{

position: absolute;
top: 158px;
left: 34.4%;
font-family: "Josefin Slab", serif;
font-size: .7rem;
color: #262626;

}


     }
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #777777; 
  }

h1, h2, h3, h4, h5 {
  padding: 0;
  margin: 0; }

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #777777; }

/*# sourceMappingURL=app.css.map */
