/*Global setting*/
a,p,img,body,h1,h2,h3,h4,h5,h6{
  width: auto;
  height: 20px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	color: black;
	font-size: 100%;}

html {
  font-family: 'core_sans_d_35_regularregular';
  font-size: 16px;
  color: black;}

a:link {
   color: #000000;}
a:visited {
   color: #000000;}
a:hover {
   color: #d4d4d4;}

/*header*/
header {
  height: 3.3rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;}

.pageTitle{
  float: left;
  width: 30%;
  position: relative;
  top: 1rem;
  left: 1rem;
  border-right: 2px solid red;}

.pageTitle img{
  float: left;
  position: relative;
  width: 1.2rem;}
.pageTitle p{ 
  float: left;
  position: relative;
  top: 0;
  left: .3rem;
  font-size:1.2rem;}
.pageTitle a{ 
	float: right;
  position: relative;
  top: .2rem;
  left: -.6rem;
  
  font-size:1rem;
  color: black;
  text-decoration: none;}

.pageNavi {
  float: left;
  position: relative;
  top: 1rem;
  left: 1.5rem;}
.pageNavi a{
  float: left;
  position: relative;
  top: .2rem;
  font-size: 1rem;
  padding: 0 .5rem 0 0;
  color: black;
  text-decoration: none;}
.pageNavi p{
  float: left;
  position: relative;
  top: .2rem;
  padding: 0 .5rem 0 0;
  font-size: 1rem;}
/* end/header*/
/* container*/

.list {
 display: inline-block;
  width: 400px;
  height: 300px;
  position: relative;
  top:150px;
  left:25px;
  margin: 5px;
  border:1px dotted #585858;}

.list h1{
  top: 1rem;  
  margin: 0 1rem;
  border-bottom: 1px solid #585858;
  font-size: 1rem;
  padding-bottom:1.5rem; 
  text-align: justify;}
.list p{
  top: 3.3rem;
  font-size: 0.9rem;
  text-align: justify;
  padding:1rem; }
.list img{
  top: 13.2rem;
  left: 1rem;
  width: 120px;
  height: auto;
  margin: 0;
  padding: 0;}

.list :hover{
opacity: .6;
color: red; }


